.video_container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.participant {
    margin-bottom: 5px;
    margin-right: 5px;
}
.participant div {
    text-align: center;
    font-size: 30px;
}
.participant div:first-child {
    width: 320px;
    height: 250px;
    background-color: #F6F3F3;
    border: 1px solid #F5F5F5;
}
.participant div:last-child{
    text-align: center;
}
.participant video {
    width: 100%;
    height: 100%;
}

/* General Styling */
.title, .my_form, #count{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.btn{
    border: 1px solid #F2F2F2;
    color: black;
}
h1{
    font-size: 50px;
}
body{
    font-family: 'Roboto', sans-serif;

}
p{
    font-size: 30px;
}