{% extends 'base.html' %}

{% block app_content %}
        <div class="row">
            <div class="col-md-12">
                <form action="" method="POST">                
                    <button id="leave"></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="video_container" class="video_container">
                    <div class="participant" id="local"><div></div><div>Me</div></div>
                    <!-- More participants will go here -->
                </div>
            </div>
        </div>
{% endblock %}