{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-9">
            <p>
                Video will go here...
            </p>
        </div>
        <div class="col-md-3">
            <!-- {{ wtf.quick_form(form) }} -->
            <form>
                <label for="username">Name: </label><br>
                <input type="text" name=”username” id="username"><br>
                <button id="join_leave">Join call</button>
            </form>
    
        </div>
    </div>
{% endblock %}