{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-9">
            <p>
                Video will go here...
            </p>
        </div>
        <div class="col-md-3">
            <!-- {{ wtf.quick_form(form) }} -->
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32, class="username") }}
                </p>
                <p>{{ form.submit(id="join_leave") }}</p>
            </form>
        </div>
    </div>
{% endblock %}