{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-md-9">
            <p id="count"></p>
            <p>
                <div id="local" class="join_participant"><div></div></div>
            </p>
        </div>
        <div class="col-md-3">
            <form action="" method="POST">
                <label for="username">Name:</label><br>
                <input placeholder="Username" type="text" name=”username” id="username"><br>
                <button id="join">Join call</button>
            </form>
        </div>
    </div>
{% endblock %}